<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.po.dao.order.OrderDispatchsMapper">
	<resultMap id="BaseResultMap" type="com.jhj.po.model.order.OrderDispatchs">
		<id column="id" property="id" jdbcType="NUMERIC" />
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="mobile" property="mobile" jdbcType="CHAR" />
		<result column="order_id" property="orderId" jdbcType="NUMERIC" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="service_date_pre" property="serviceDatePre" jdbcType="NUMERIC" />
		<result column="service_date" property="serviceDate" jdbcType="NUMERIC" />
		<result column="service_hours" property="serviceHours" jdbcType="NUMERIC" />
		<result column="org_id" property="orgId" jdbcType="NUMERIC" />
		<result column="parent_id" property="parentId" jdbcType="NUMERIC" />
		<result column="staff_id" property="staffId" jdbcType="NUMERIC" />
		<result column="staff_name" property="staffName" jdbcType="VARCHAR" />
		<result column="staff_mobile" property="staffMobile" jdbcType="CHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="am_id" property="amId" jdbcType="NUMERIC" />
		<result column="dispatch_status" property="dispatchStatus" jdbcType="NUMERIC" />

		<result column="pick_addr_name" property="pickAddrName" jdbcType="VARCHAR" />
		<result column="pick_addr_lat" property="pickAddrLat" jdbcType="VARCHAR" />
		<result column="pick_addr_lng" property="pickAddrLng" jdbcType="VARCHAR" />
		<result column="pick_addr" property="pickAddr" jdbcType="VARCHAR" />

		<result column="pick_distance" property="pickDistance" jdbcType="NUMERIC" />
		<result column="user_addr_distance" property="userAddrDistance" jdbcType="NUMERIC" />

		<result column="add_time" property="addTime" jdbcType="NUMERIC" />
		<result column="update_time" property="updateTime" jdbcType="NUMERIC" />

		<result column="is_apply" property="isApply" jdbcType="NUMERIC" />
		<result column="apply_time" property="applyTime" jdbcType="NUMERIC" />
	</resultMap>
	<resultMap id="statByUser" type="java.util.HashMap">
		<result column="user_id" property="userId" jdbcType="NUMERIC" />
		<result column="total" property="total" jdbcType="NUMERIC" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, mobile, order_id, order_no, service_date_pre, service_date, service_hours, org_id, parent_id,
		staff_id, staff_name, staff_mobile,
		remarks, am_id,
		dispatch_status,
		pick_addr_name,pick_addr_lat,pick_addr_lng,pick_addr,pick_distance,user_addr_distance,
		add_time, update_time, is_apply,
		apply_time
	</sql>

	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.jhj.vo.order.OrderDispatchSearchVo">
		select
		<include refid="Base_Column_List" />
		<include refid="bySearchVo" />
		order by service_date desc
	</select>

	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.jhj.vo.order.OrderDispatchSearchVo">
		select
		<include refid="Base_Column_List" />
		<include refid="bySearchVo" />
		order by service_date desc
	</select>

	<sql id="bySearchVo">
		from order_dispatchs
		where 1=1

		<if test="staffId !=null ">
			and staff_id =#{staffId,jdbcType=NUMERIC}
		</if>

		<if test="staffIds != null">
			and staff_id in
			<foreach item="item" index="index" collection="staffIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="staffMobile !=null ">
			and staff_mobile =#{staffMobile,jdbcType=VARCHAR}
		</if>

		<if test="staffName !=null ">
			and staff_name =#{staffName,jdbcType=VARCHAR}
		</if>

		<if test="userId !=null">
			and user_id = #{userId,jdbcType=NUMERIC}
		</if>

		<if test="mobile !=null and mobile !='' ">
			and mobile = #{mobile}
		</if>

		<if test="orderId !=null">
			and order_id = #{orderId,jdbcType=NUMERIC}
		</if>

		<if test="orderIds != null">
			and order_id in
			<foreach item="item" index="index" collection="orderIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="orderNo !=null">
			and order_no = #{orderNo,jdbcType=VARCHAR}
		</if>

		<if test="orgId != null">
			and org_id = #{orgId,jdbcType=NUMERIC}
		</if>

		<if test="parentId != null">
			and parent_id = #{parentId,jdbcType=NUMERIC}
		</if>

		<if test="isApply != null">
			and is_apply = #{isApply,jdbcType=NUMERIC}
		</if>

		<if test="orgIds != null">
			and org_id in
			<foreach item="item" index="index" collection="orgIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="parentIds != null">
			and parent_id in
			<foreach item="item" index="index" collection="parentIds" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="startServiceTime !=null">
			<![CDATA[ and service_date >= #{startServiceTime}]]>
		</if>

		<if test="endServiceTime !=null">
			<![CDATA[ and service_date <= #{endServiceTime}]]>
		</if>

		<if test="startServiceHourTime !=null">
			<![CDATA[ and (service_date + service_hours *3600) >= #{startServiceHourTime}]]>
		</if>

		<if test="endServiceHourTime !=null">
			<![CDATA[ and (service_date + service_hours *3600) <= #{endServiceHourTime}]]>
		</if>

		<if test="startAddTime !=null">
			<![CDATA[ and add_time >= #{startAddTime}]]>
		</if>

		<if test="endAddTime !=null">
			<![CDATA[ and add_time <= #{endAddTime}]]>
		</if>

		<if test="startUpdateTime !=null">
			<![CDATA[ and update_time >= #{startUpdateTime}]]>
		</if>

		<if test="endUpdateTime !=null">
			<![CDATA[ and update_time <= #{endUpdateTime}]]>
		</if>


		<if test="dispatchStatus != null">
			and dispatch_status = #{dispatchStatus,jdbcType=NUMERIC}
		</if>
	</sql>
	
	<select id="selectByMatchTime" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from order_dispatchs where 1=1 and dispatch_status = 1 and
	<![CDATA[    
	  	 (
	  		(service_date >= #{startTime}  and service_date <= #{endTime} )
	  		or
	    	((service_date+ service_hours*3600) >= #{startTime} and (service_date+ service_hours*3600) <= #{endTime})
	    ) 
  		]]>
	</select>

	<!-- 该服务人员 今天的 派工数量 -->
	<select id="totalStaffTodayOrders" resultType="java.lang.Long" parameterType="java.lang.Long">
		select
		count(*)
		from
		order_dispatchs
		where
		staff_id = #{staffId,jdbcType=NUMERIC}
		<![CDATA[	
		 and
		 	add_time > UNIX_TIMESTAMP(CURDATE())
		 and
		 	add_time < UNIX_TIMESTAMP(DATE_ADD(CURDATE(),INTERVAL 1 DAY))			
		 ]]>
	</select>

	<!-- 统计在start和end之间的有效派工单个数 -->
	<select id="totalByYearAndMonth" resultType="HashMap" parameterType="java.util.HashMap">
		select
		id,order_no,staff_id,
		from_unixtime((service_date+
		service_hours*3600),'%Y-%m-%d %H:%i:%s') as service_end,
		from_unixtime(service_date,'%Y-%m-%d %H:%i:%s') as serviceTime,
		from_unixtime(service_date,'%Y-%m-%d')
		as startTime,
		from_unixtime(service_date,'%Y-%m-%d') as serviceDate,
		update_time
		from
		order_dispatchs
		where
		dispatch_status =1
		and
		service_date
		between
		#{startTime,jdbcType=NUMERIC}
		and
		#{endTime,jdbcType=NUMERIC}
		and
		staff_id =#{orgStaffId,jdbcType=NUMERIC}
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from order_dispatchs
		where id = #{id,jdbcType=NUMERIC}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from order_dispatchs
		where id = #{id,jdbcType=NUMERIC}
	</delete>
	<insert id="insert" parameterType="com.jhj.po.model.order.OrderDispatchs">
		insert into order_dispatchs (id, user_id, mobile,
		order_id, order_no, service_date_pre,
		service_date, service_hours,
		org_id, parent_id, staff_id,
		staff_name, staff_mobile, remarks,
		am_id, dispatch_status,
		pick_addr_name,pick_addr_lat,pick_addr_lng,pick_addr,pick_distance,user_addr_distance,
		add_time,update_time, is_apply, apply_time)
		values
		(#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{mobile,jdbcType=CHAR},
		#{orderId,jdbcType=NUMERIC}, #{orderNo,jdbcType=VARCHAR},
		#{serviceDatePre,jdbcType=NUMERIC},
		#{serviceDate,jdbcType=NUMERIC}, #{serviceHours,jdbcType=NUMERIC},
		#{orgId,jdbcType=NUMERIC}, #{parentId,jdbcType=NUMERIC},
		#{staffId,jdbcType=NUMERIC},
		#{staffName,jdbcType=VARCHAR}, #{staffMobile,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR},
		#{amId,jdbcType=NUMERIC},
		#{dispatchStatus,jdbcType=NUMERIC},
		#{pickAddrName,jdbcType=VARCHAR},#{pickAddrLat,jdbcType=VARCHAR},#{pickAddrLng,jdbcType=VARCHAR},
		#{pickAddr,jdbcType=VARCHAR},#{pickDistance,jdbcType=NUMERIC},#{userAddrDistance,jdbcType=NUMERIC},
		#{addTime,jdbcType=NUMERIC},
		#{updateTime,jdbcType=NUMERIC},
		#{isApply,jdbcType=NUMERIC}, #{applyTime,jdbcType=NUMERIC})
	</insert>

	<insert id="insertSelective" parameterType="com.jhj.po.model.order.OrderDispatchs">
		insert into order_dispatchs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="serviceDatePre != null">
				service_date_pre,
			</if>
			<if test="serviceDate != null">
				service_date,
			</if>
			<if test="serviceHours != null">
				service_hours,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="staffId != null">
				staff_id,
			</if>
			<if test="staffName != null">
				staff_name,
			</if>
			<if test="staffMobile != null">
				staff_mobile,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="amId != null">
				am_id,
			</if>
			<if test="dispatchStatus != null">
				dispatch_status,
			</if>
			<if test="pickAddrName != null">
				pick_addr_name,
			</if>
			<if test="pickAddrLat != null">
				pick_addr_lat,
			</if>
			<if test="pickAddrLng != null">
				pick_addr_lng,
			</if>
			<if test="pickAddr != null">
				pick_addr,
			</if>
			<if test="pickDistance != null">
				pick_distance,
			</if>
			<if test="userAddrDistance != null">
				user_addr_distance,
			</if>

			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isApply != null">
				is_apply,
			</if>
			<if test="applyTime != null">
				apply_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=NUMERIC},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=NUMERIC},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=CHAR},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=NUMERIC},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="serviceDatePre != null">
				#{serviceDatePre,jdbcType=NUMERIC},
			</if>
			<if test="serviceDate != null">
				#{serviceDate,jdbcType=NUMERIC},
			</if>
			<if test="serviceHours != null">
				#{serviceHours,jdbcType=NUMERIC},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=NUMERIC},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=NUMERIC},
			</if>
			<if test="staffId != null">
				#{staffId,jdbcType=NUMERIC},
			</if>
			<if test="staffName != null">
				#{staffName,jdbcType=VARCHAR},
			</if>
			<if test="staffMobile != null">
				#{staffMobile,jdbcType=CHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="amId != null">
				#{amId,jdbcType=NUMERIC},
			</if>
			<if test="dispatchStatus != null">
				#{dispatchStatus,jdbcType=NUMERIC},
			</if>
			<if test="pickAddrName != null">
				#{pickAddrName,jdbcType=VARCHAR},
			</if>
			<if test="pickAddrLat != null">
				#{pickAddrLat,jdbcType=VARCHAR},
			</if>
			<if test="pickAddrLng != null">
				#{pickAddrLng,jdbcType=VARCHAR},
			</if>
			<if test="pickAddr != null">
				#{pickAddr,jdbcType=VARCHAR},
			</if>
			<if test="pickDistance != null">
				#{pickDistance,jdbcType=NUMERIC},
			</if>
			<if test="userAddrDistance != null">
				#{userAddrDistance,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=NUMERIC},
			</if>
			<if test="isApply != null">
				#{isApply,jdbcType=NUMERIC},
			</if>
			<if test="applyTime != null">
				#{applyTime,jdbcType=NUMERIC},
			</if>
		</trim>

		<!-- 配置mysql主键自增 -->
		<selectKey keyProperty="id" resultType="Long" order="AFTER">

			select LAST_INSERT_ID()

		</selectKey>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jhj.po.model.order.OrderDispatchs">
		update order_dispatchs
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=NUMERIC},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=CHAR},
			</if>
			<if test="orderId != null">
				order_id = #{orderId,jdbcType=NUMERIC},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="serviceDatePre != null">
				service_date_pre = #{serviceDatePre,jdbcType=NUMERIC},
			</if>
			<if test="serviceDate != null">
				service_date = #{serviceDate,jdbcType=NUMERIC},
			</if>
			<if test="serviceHours != null">
				service_hours = #{serviceHours,jdbcType=NUMERIC},
			</if>
			<if test="orgId != null">
				staff_id = #{orgId,jdbcType=NUMERIC},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=NUMERIC},
			</if>
			<if test="staffId != null">
				staff_id = #{staffId,jdbcType=NUMERIC},
			</if>
			<if test="staffName != null">
				staff_name = #{staffName,jdbcType=VARCHAR},
			</if>
			<if test="staffMobile != null">
				staff_mobile = #{staffMobile,jdbcType=CHAR},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="amId != null">
				am_id = #{amId,jdbcType=NUMERIC},
			</if>
			<if test="dispatchStatus != null">
				dispatch_status = #{dispatchStatus,jdbcType=NUMERIC},
			</if>
			<if test="pickAddrName != null">
				pick_addr_name = #{pickAddrName,jdbcType=VARCHAR},
			</if>
			<if test="pickAddrLat != null">
				pick_addr_lat = #{pickAddrLat,jdbcType=VARCHAR},
			</if>
			<if test="pickAddrLng != null">
				pick_addr_lng = #{pickAddrLng,jdbcType=VARCHAR},
			</if>
			<if test="pickAddr != null">
				pick_addr = #{pickAddr,jdbcType=VARCHAR},
			</if>
			<if test="pickDistance != null">
				pick_distance = #{pickDistance,jdbcType=NUMERIC},
			</if>
			<if test="userAddrDistance != null">
				user_addr_distance = #{userAddrDistance,jdbcType=NUMERIC},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=NUMERIC},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=NUMERIC},
			</if>
			<if test="isApply != null">
				is_apply = #{isApply,jdbcType=NUMERIC},
			</if>
			<if test="applyTime != null">
				apply_time = #{applyTime,jdbcType=NUMERIC},
			</if>
		</set>
		where id = #{id,jdbcType=NUMERIC}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jhj.po.model.order.OrderDispatchs">
		update order_dispatchs
		set user_id = #{userId,jdbcType=NUMERIC},
		mobile = #{mobile,jdbcType=CHAR},
		order_id =
		#{orderId,jdbcType=NUMERIC},
		order_no = #{orderNo,jdbcType=VARCHAR},
		service_date_pre = #{serviceDatePre,jdbcType=NUMERIC},
		service_date =
		#{serviceDate,jdbcType=NUMERIC},
		service_hours = #{serviceHours,jdbcType=NUMERIC},
		org_id = #{orgId,jdbcType=NUMERIC},
		parent_id = #{parentId,jdbcType=NUMERIC},
		staff_id = #{staffId,jdbcType=NUMERIC},
		staff_name = #{staffName,jdbcType=VARCHAR},
		staff_mobile = #{staffMobile,jdbcType=CHAR},
		remarks =
		#{remarks,jdbcType=VARCHAR},
		am_id = #{amId,jdbcType=NUMERIC},
		dispatch_status = #{dispatchStatus,jdbcType=NUMERIC},
		pick_addr_name =
		#{pickAddrName,jdbcType=VARCHAR},
		pick_addr_lat = #{pickAddrLat,jdbcType=VARCHAR},
		pick_addr_lng = #{pickAddrLng,jdbcType=VARCHAR},
		pick_addr =
		#{pickAddr,jdbcType=VARCHAR},
		pick_distance = #{pickDistance,jdbcType=NUMERIC},
		user_addr_distance =
		#{userAddrDistance,jdbcType=NUMERIC},
		add_time =
		#{addTime,jdbcType=NUMERIC},
		update_time = #{updateTime,jdbcType=NUMERIC},
		is_apply =
		#{isApply,jdbcType=NUMERIC},
		apply_time = #{applyTime,jdbcType=NUMERIC}
		where id = #{id,jdbcType=NUMERIC}
	</update>
</mapper>