*.class
 
# Package Files #
*.jar
*.war
*.ear
 
# ignore Maven generated target folders
target
 
# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore windows files
*Thumbs.db
*thumbs.db
/jhj-app/*.gitignore
/jhj-app/bin/*.gitignore

# ignore node files
/jhj-web-user/node_modules/
/jhj-web-user/npm-debug.log


rebel.xml
/.idea/*.iml
.idea
*.iml
