.each-title{
    color: #FF9D00;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    background:url('../../img/jiawubaoyue/bg-title.png') no-repeat center center;
    line-height: 40px;
}
.clean-list{
    width: 92.5%;
    margin: 0 auto;
}
.clean-list li{
    width: 42%;
    margin: 0 4%;
    margin-top: 18px;
    position: relative;
    float: left;
}
.clean-list img{
    width: 100%;
}
.clean-list span{
    font-size: 12px;
    color: #FF9D00;
    display: block;
    position: absolute;
    /* width: 41%; */
    /* background-color: #000000; */
    /* border-bottom-right-radius: 10px; */
    /* -webkit-border-bottom-right-radius: 10px; */
    -moz-border-bottom-right-radius: 10px;
    line-height: 12px;
    top: 3%;
    /* text-align: center; */
    /* vertical-align: middle; */
    /* padding: 3% 0; */
    left: 13%;

}
.clean-list p{
    font-size: 12px;
    color: #FF9D00;
    line-height: 25px;

}
p.special-p{
    margin-left: 7.5%;
    padding:3px 0px;
}
p.special-p-2{
    margin-left: 7.5%;
    padding: 3px 0px;
    font-size: 12px;
    line-height: 16px;
}
.serverspecial p{

}
.txt-center{
    text-align: center;
}
.bright-colors{
    color: #FF9D00;
}
.full-screen{
    width: 100%;
}
.time{
    width: 92%;
    margin: 0 auto;

}
.time li{
    float: left;
    width: 24%;
    margin:0 4%;
}
.time li span{
    font-size: 14px;
    margin: 0;
    line-height: 25px;
}
.tool-list{
    width: 95%;
    height: 60px;
    margin: 0 auto;
}
.tool-list li{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #FF9D00;
}
.logo-jiawu{
    width: 48.5%;
    margin: 0 auto;
    display: block;
}
.shendu-bx p.server-sun{
    width: 92%;
    margin: 0 auto;
}
.zhanwei{
    width: 24px;
    display: inline-block;
}
.jiawu-bottom{
    margin-top: 15px;
}
.jiawu-bottom img{
    width: 5%;
    display: block;
    margin: 0 auto;
}
.time-w{
    margin-top: 10px;
}