<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.po.dao.admin.AdminRefOrgMapper" >
  <resultMap id="BaseResultMap" type="com.jhj.po.model.admin.AdminRefOrg" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="admin_id" property="adminId" jdbcType="NUMERIC" />
    <result column="org_id" property="orgId" jdbcType="NUMERIC" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin_id, org_id, add_time
  </sql>
  
  <select id="selectByAdminId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	 select 
    <include refid="Base_Column_List" />
    from admin_ref_org
  	where 
  	admin_id = #{adminId,jdbcType=NUMERIC}
  
  </select>
  
  <select id="selectByAdminIdAndOrgId" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from admin_ref_org
  	where 
  	admin_id = #{adminId,jdbcType=NUMERIC}
  	and
  	org_id = #{orgId,jdbcType=NUMERIC}
  	
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from admin_ref_org
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from admin_ref_org
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.jhj.po.model.admin.AdminRefOrg" >
    insert into admin_ref_org (id, admin_id, org_id, 
      add_time)
    values (#{id,jdbcType=NUMERIC}, #{adminId,jdbcType=NUMERIC}, #{orgId,jdbcType=NUMERIC}, 
      #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.jhj.po.model.admin.AdminRefOrg" >
    insert into admin_ref_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=NUMERIC},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
    
     <!-- 配置mysql主键自增 -->
    <selectKey keyProperty="id" resultType="Long" order="AFTER">

			select LAST_INSERT_ID() 

	</selectKey>
    
    
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhj.po.model.admin.AdminRefOrg" >
    update admin_ref_org
    <set >
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=NUMERIC},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhj.po.model.admin.AdminRefOrg" >
    update admin_ref_org
    set admin_id = #{adminId,jdbcType=NUMERIC},
      org_id = #{orgId,jdbcType=NUMERIC},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>