<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.po.dao.cooperate.CooperativeBusinessMapper" >
  <resultMap id="BaseResultMap" type="com.jhj.po.model.cooperate.CooperativeBusiness" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="business_name" property="businessName" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="business_login_name" property="businessLoginName" jdbcType="VARCHAR" />
    <result column="business_pass_word" property="businessPassWord" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="NUMERIC" />
    <result column="role_id" property="roleId" jdbcType="NUMERIC" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
    <result column="update_time" property="updateTime" jdbcType="NUMERIC" />
    <result column="broker" property="broker" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, business_name, app_name, business_login_name, business_pass_word, enable, role_id, 
    add_time, update_time, broker
  </sql>
  
  <select id="getAllCoopId" resultType="java.lang.Long">
  	select id from cooperative_business
  </select>
  
  <select id="selectByUsernameAndPassword" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
	select
    <include refid="Base_Column_List" />
    from cooperative_business
    where 1=1
      <if test="username != null" >
        and business_login_name = #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and business_pass_word = #{password,jdbcType=VARCHAR}
      </if>
  </select>
  
  
  <select id="selectBylogInName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    	<include refid="Base_Column_List" /> 
    from 
    	cooperative_business
  	where
		business_login_name = #{logInName,jdbcType=VARCHAR}  		
  </select>
  
  <select id="selectByListPage" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from cooperative_business
  	order by add_time desc
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cooperative_business
    where id = #{id,jdbcType=NUMERIC}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cooperative_business
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  
  <insert id="insert" parameterType="com.jhj.po.model.cooperate.CooperativeBusiness" >
    insert into cooperative_business (id, business_name, app_name, 
      business_login_name, business_pass_word, enable, 
      role_id, add_time, update_time, broker
      )
    values (#{id,jdbcType=NUMERIC}, #{businessName,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, 
      #{businessLoginName,jdbcType=VARCHAR}, #{businessPassWord,jdbcType=VARCHAR}, #{enable,jdbcType=NUMERIC}, 
      #{roleId,jdbcType=NUMERIC}, #{addTime,jdbcType=NUMERIC}, #{updateTime,jdbcType=NUMERIC}, #{broker,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jhj.po.model.cooperate.CooperativeBusiness" >
    insert into cooperative_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessName != null" >
        business_name,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="businessLoginName != null" >
        business_login_name,
      </if>
      <if test="businessPassWord != null" >
        business_pass_word,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="broker != null" >
        broker,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="businessLoginName != null" >
        #{businessLoginName,jdbcType=VARCHAR},
      </if>
      <if test="businessPassWord != null" >
        #{businessPassWord,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=NUMERIC},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=NUMERIC},
      </if>
      <if test="broker != null" >
        #{broker,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhj.po.model.cooperate.CooperativeBusiness" >
    update cooperative_business
    <set >
      <if test="businessName != null" >
        business_name = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="businessLoginName != null" >
        business_login_name = #{businessLoginName,jdbcType=VARCHAR},
      </if>
      <if test="businessPassWord != null" >
        business_pass_word = #{businessPassWord,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=NUMERIC},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=NUMERIC},
      </if>
       <if test="broker != null" >
        broker = #{broker,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhj.po.model.cooperate.CooperativeBusiness" >
    update cooperative_business
    set business_name = #{businessName,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      business_login_name = #{businessLoginName,jdbcType=VARCHAR},
      business_pass_word = #{businessPassWord,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=NUMERIC},
      role_id = #{roleId,jdbcType=NUMERIC},
      add_time = #{addTime,jdbcType=NUMERIC},
      update_time = #{updateTime,jdbcType=NUMERIC},
      broker = #{broker,jdbcType=VARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
  
  <select id="selectCooperativeBusinessVo" resultMap="BaseResultMap" parameterType="com.jhj.vo.dict.CooperativeBusinessSearchVo">
  	select <include refid="Base_Column_List"/>
  	from cooperative_business
  	where 1=1
  	<if test="id!=null">
  		and id = #{id,jdbcType=NUMERIC}
  	</if>
  	<if test="businessName!=null">
  		and business_name = #{businessName,jdbcType=VARCHAR}
  	</if>
  	<if test="appName!=null">
  		and app_name = #{appName,jdbcType=VARCHAR}
  	</if>
  	<if test="businessLoginName!=null">
  		and business_login_name = #{businessLoginName,jdbcType=VARCHAR}
  	</if>
  	<if test="businessPassWord!=null">
  		and business_pass_word = #{businessPassWord,jdbcType=VARCHAR}
  	</if>
  	<if test="enable!=null">
  		and enable = #{enable,jdbcType=NUMERIC}
  	</if>
  	<if test="broker != null">
  	 	and broker = #{broker,jdbcType=VARCHAR}
  	</if>
  </select>
  
  <select id="selectByGroupBybroker" resultType="java.util.Map">
  	SELECT broker,count(*) as count from cooperative_business GROUP BY broker
  </select>
</mapper>