<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.po.dao.tags.UserRefTagsMapper" >
  <resultMap id="BaseResultMap" type="com.jhj.po.model.tags.UserRefTags" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="user_id" property="userId" jdbcType="NUMERIC" />
    <result column="tag_id" property="tagId" jdbcType="NUMERIC" />
    <result column="add_time" property="addTime" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, tag_id, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_ref_tags
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <select id="selectListByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_ref_tags
		where user_id = #{userId,jdbcType=NUMERIC}
		order by add_time desc
	</select>
	 <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user_ref_tags
		order by add_time desc
	</select>
	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_ref_tags
    where id = #{id,jdbcType=NUMERIC}
  </delete>
    <delete id="deleteByUserId" parameterType="java.lang.Long" >
    delete from user_ref_tags
    where user_id = #{userId,jdbcType=NUMERIC}
  </delete>
 
  <insert id="insert" parameterType="com.jhj.po.model.tags.UserRefTags" >
    insert into user_ref_tags (id, user_id, tag_id, 
      add_time)
    values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{tagId,jdbcType=NUMERIC}, 
      #{addTime,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.jhj.po.model.tags.UserRefTags" >
    insert into user_ref_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhj.po.model.tags.UserRefTags" >
    update user_ref_tags
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=NUMERIC},
      </if>
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=NUMERIC},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhj.po.model.tags.UserRefTags" >
    update user_ref_tags
    set user_id = #{userId,jdbcType=NUMERIC},
      tag_id = #{tagId,jdbcType=NUMERIC},
      add_time = #{addTime,jdbcType=NUMERIC}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>