<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.po.dao.period.PeriodOrderMapper">
	<resultMap id="BaseResultMap" type="com.jhj.po.model.period.PeriodOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="mobile" property="mobile" jdbcType="CHAR" />
		<result column="addr_id" property="addrId" jdbcType="INTEGER" />
		<result column="order_type" property="orderType" jdbcType="INTEGER" />
		<result column="order_status" property="orderStatus" jdbcType="INTEGER" />
		<result column="pay_type" property="payType" jdbcType="INTEGER" />
		<result column="order_money" property="orderMoney" jdbcType="DECIMAL" />
		<result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
		<result column="user_coupons_id" property="userCouponsId" jdbcType="INTEGER" />
		<result column="period_service_type_id" property="periodServiceTypeId" jdbcType="INTEGER" />
		<result column="order_from" property="orderFrom" jdbcType="INTEGER" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_no, user_id, mobile, addr_id, order_type, order_status, pay_type, order_money, order_price,
		user_coupons_id, period_service_type_id, order_from, remarks, add_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from period_order
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from period_order
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jhj.po.model.period.PeriodOrder">
		insert into period_order (id, order_no, user_id,
		mobile, addr_id, order_type,
		order_status, pay_type, order_money, order_price,
		user_coupons_id, period_service_type_id, order_from,
		remarks, add_time, update_time
		)
		values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
		#{mobile,jdbcType=CHAR}, #{addrId,jdbcType=INTEGER}, #{orderType,jdbcType=INTEGER},
		#{orderStatus,jdbcType=INTEGER}, #{payType,jdbcType=INTEGER}, #{orderMoney,jdbcType=DECIMAL}, #{orderPrice,jdbcType=DECIMAL},
		#{userCouponsId,jdbcType=INTEGER}, #{periodServiceTypeId,jdbcType=INTEGER}, #{orderFrom,jdbcType=INTEGER},
		#{remarks,jdbcType=VARCHAR}, #{addTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jhj.po.model.period.PeriodOrder">
		insert into period_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="addrId != null">
				addr_id,
			</if>
			<if test="orderType != null">
				order_type,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="payType != null">
				pay_type,
			</if>
			<if test="orderMoney != null">
				order_money,
			</if>
			<if test="orderPrice != null">
				order_price,
			</if>
			<if test="userCouponsId != null">
				user_coupons_id,
			</if>
			<if test="periodServiceTypeId != null">
				period_service_type_id,
			</if>
			<if test="orderFrom != null">
				order_from,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=CHAR},
			</if>
			<if test="addrId != null">
				#{addrId,jdbcType=INTEGER},
			</if>
			<if test="orderType != null">
				#{orderType,jdbcType=INTEGER},
			</if>
			<if test="orderStatus != null">
				#{orderStatus,jdbcType=INTEGER},
			</if>
			<if test="payType != null">
				#{payType,jdbcType=INTEGER},
			</if>
			<if test="orderMoney != null">
				#{orderMoney,jdbcType=DECIMAL},
			</if>
			<if test="orderPrice != null">
				#{orderPrice,jdbcType=DECIMAL},
			</if>
			<if test="userCouponsId != null">
				#{userCouponsId,jdbcType=INTEGER},
			</if>
			<if test="periodServiceTypeId != null">
				#{periodServiceTypeId,jdbcType=INTEGER},
			</if>
			<if test="orderFrom != null">
				#{orderFrom,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jhj.po.model.period.PeriodOrder">
		update period_order
		<set>
			<if test="orderNo != null">
				order_no = #{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=CHAR},
			</if>
			<if test="addrId != null">
				addr_id = #{addrId,jdbcType=INTEGER},
			</if>
			<if test="orderType != null">
				order_type = #{orderType,jdbcType=INTEGER},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus,jdbcType=INTEGER},
			</if>
			<if test="payType != null">
				pay_type = #{payType,jdbcType=INTEGER},
			</if>
			<if test="orderMoney != null">
				order_money = #{orderMoney,jdbcType=DECIMAL},
			</if>
			<if test="orderPrice != null">
				order_price = #{orderPrice,jdbcType=DECIMAL},
			</if>
			<if test="userCouponsId != null">
				user_coupons_id = #{userCouponsId,jdbcType=INTEGER},
			</if>
			<if test="periodServiceTypeId != null">
				period_service_type_id = #{periodServiceTypeId,jdbcType=INTEGER},
			</if>
			<if test="orderFrom != null">
				order_from = #{orderFrom,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jhj.po.model.period.PeriodOrder">
		update period_order
		set order_no = #{orderNo,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=INTEGER},
		mobile = #{mobile,jdbcType=CHAR},
		addr_id = #{addrId,jdbcType=INTEGER},
		order_type = #{orderType,jdbcType=INTEGER},
		order_status = #{orderStatus,jdbcType=INTEGER},
		pay_type = #{payType,jdbcType=INTEGER},
		order_money = #{orderMoney,jdbcType=DECIMAL},
		order_price = #{orderPrice,jdbcType=DECIMAL},
		user_coupons_id = #{userCouponsId,jdbcType=INTEGER},
		period_service_type_id = #{periodServiceTypeId,jdbcType=INTEGER},
		order_from = #{orderFrom,jdbcType=INTEGER},
		remarks = #{remarks,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from period_order where order_no = #{orderNo,jdbcType=VARCHAR}
	</select>

	<insert id="insertBatch" parameterType="com.jhj.po.model.period.PeriodOrder">
		insert into period_order (id, order_no, user_id,
		mobile, addr_id, order_type,
		order_status, pay_type, order_money, order_price,
		user_coupons_id, period_service_type_id, order_from,
		remarks, add_time, update_time
		)
		values
		<foreach collection="periodOrderList" item="item" separator=",">
			(#{item.id,jdbcType=INTEGER}, #{item.orderNo,jdbcType=VARCHAR}, #{item.userId,jdbcType=INTEGER},
			#{item.mobile,jdbcType=CHAR}, #{item.addrId,jdbcType=INTEGER}, #{item.orderType,jdbcType=INTEGER},
			#{item.orderStatus,jdbcType=INTEGER}, #{item.payType,jdbcType=INTEGER}, #{item.orderMoney,jdbcType=DECIMAL}, #{item.orderPrice,jdbcType=DECIMAL},
			#{item.userCouponsId,jdbcType=INTEGER}, #{item.periodServiceTypeId,jdbcType=INTEGER}, #{item.orderFrom,jdbcType=INTEGER},
			#{item.remarks,jdbcType=VARCHAR}, #{item.addTime,jdbcType=INTEGER}, #{item.updateTime,jdbcType=INTEGER})
		</foreach>
	</insert>

	<select id="selectByListPage" resultMap="BaseResultMap" parameterType="com.jhj.vo.period.PeriodOrderSearchVo">
		select
		<include refid="Base_Column_List" />
		from period_order
		<include refid="bySearchVo" />
	</select>

	<select id="selectBySearchVo" resultMap="BaseResultMap" parameterType="com.jhj.vo.period.PeriodOrderSearchVo">
		select
		<include refid="Base_Column_List" />
		from period_order
		<include refid="bySearchVo" />
	</select>

	<sql id="bySearchVo">
		<where>
			<if test="orderNo != null">
				and order_no = {orderNo,jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="mobile != null and mobile != ''">
				and mobile = #{mobile,jdbcType=CHAR}
			</if>
			<if test="addrId != null">
				and addrId = #{addrId,jdbcType=INTEGER}
			</if>
			
			<if test="orderStatus != null">
				and order_status = #{orderStatus,jdbcType=INTEGER}
			</if>
			<if test="payType != null">
				and pay_type = #{payType,jdbcType=INTEGER}
			</if>
			
			<if test="orderFrom != null">
				and order_from = #{orderFrom,jdbcType=INTEGER}
			</if>
			
		</where>
	</sql>

</mapper>