<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhj.po.dao.user.CountUserRestMapper" >
  <resultMap id="BaseResultMap" type="com.jhj.po.model.user.CountUserRest" >
  	<id column="id" property="id" jdbcType="INTEGER" />
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="rest_money" property="restMoney" jdbcType="DECIMAL" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,user_id, rest_money, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from count_user_rest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from count_user_rest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jhj.po.model.user.CountUserRest" >
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into count_user_rest (id, user_id, rest_money, add_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{restMoney,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jhj.po.model.user.CountUserRest" >
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into count_user_rest
    <trim prefix="(" suffix=")" suffixOverrides="," >
     	<if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="restMoney != null" >
        rest_money,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="restMoney != null" >
        #{restMoney,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhj.po.model.user.CountUserRest" >
    update count_user_rest
    <set >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="restMoney != null" >
        rest_money = #{restMoney,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhj.po.model.user.CountUserRest" >
    update count_user_rest
    set  user_id = #{userId,jdbcType=INTEGER},
      rest_money = #{restMoney,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insertList" parameterType="java.util.List">
  	<!-- <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey> -->
  	insert into count_user_rest (user_id, rest_money, add_time)
  	values 
   	<foreach collection="list" item="item" separator =",">
    (
   		 #{item.userId,jdbcType=INTEGER}, #{item.restMoney,jdbcType=DECIMAL}, #{item.addTime,jdbcType=TIMESTAMP}
	)
   	</foreach>
  </insert>
  
  <resultMap id="ChartMap" type="com.jhj.vo.chart.ChartMapVo">
		<result column="name" property="name" />
		<result column="series" property="series" />
		<result column="total" property="total" />
		<result column="totalVip" property="totalVip"/>
		<result column="totalMoney" property="totalMoney" />
	</resultMap>
	<resultMap id="ChartMap2" type="com.jhj.vo.chart.ChartMapVo">
		<result column="series" property="series" />
		<result column="total" property="total" />
	</resultMap>
  
  <select id="countUserNumber" parameterType="com.jhj.vo.chart.ChartSearchVo" resultMap="ChartMap2">
  	SELECT
  	<if test="statType!='quarter'">
  		DATE_FORMAT(add_time, #{formatParam}) AS series,
  	</if>
  	<if test="statType=='quarter'">
  		CONCAT(year(add_time), "-", quarter(add_time) ) as series,
  	</if>
	COUNT(*) AS total FROM count_user_rest
	<include refid="chartSql"/>
	GROUP BY series ORDER BY series ASC
  </select>
  
  <sql id="chartSql">
  	<where>
		<if test="startTime !=null">
			<![CDATA[ and add_time >= #{startTimeStr}]]> 
		</if>
		<if test="endTime !=null">
			<![CDATA[ and add_time <= #{endTimeStr}]]>
		</if>
	</where>
  </sql>
  
</mapper>